<a href="https://colab.research.google.com/github/SyedHuzaifa007/The-Sparks-Foundation-Task-4/blob/main/Exploratory_Analysis_Terrorism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Importing Libraries And Modules
import numpy as np
import pandas as pd
import warnings

In [7]:
# Filter Warnings
warnings.filterwarnings('ignore')

In [9]:
# Importing Data
path = '/content/drive/MyDrive/Sparks Foundation Internship/Datasets/globalterrorism.csv'
data = pd.read_csv(path, encoding ='latin1')
terror_df = pd.DataFrame(data)
terror_df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]