<a href="https://colab.research.google.com/github/SyedHuzaifa007/The-Sparks-Foundation-Task-4/blob/main/Exploratory_Analysis_Terrorism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
# Importing Necessary Libraries And Modules
import numpy as np
import pandas as pd
import warnings
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
# Filter Warnings
warnings.filterwarnings('ignore')

In [35]:
# Importing Data
path = '/content/drive/MyDrive/Sparks Foundation Internship/Datasets/globalterrorism.csv'
data = pd.read_csv(path, encoding ='latin1')
terror_df = pd.DataFrame(data)
terror_df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [37]:
# Choosing Necessary Features
terror_df = terror_df[['iyear', 'imonth', 'iday', 'country_txt', 'provstate', 'city', 'region_txt', 'attacktype1_txt', 'target1', 'nkill', 'nwound', 'summary', 'gname', 'targtype1_txt', 'weaptype1_txt', 'motive']]

In [38]:
# Renaming Choosen Feature For My Easiness
terror_df = terror_df.rename(columns = {'iyear':'year', 'imonth':'month', 'iday':'day', 'country_txt':'country', 'provstate':'state', 
                                        'region_txt':'region', 'attacktype1_txt':'attack_type', 'target1':'target', 'nkill':'killed',
                                        'nwound':'wounded', 'gname':'group', 'targtype1_txt':'target_type', 'weaptype1_txt':'weapon_type'})
terror_df.head()

   year  month  day  ...                  target_type weapon_type motive
0  1970      7    2  ...  Private Citizens & Property     Unknown    NaN
1  1970      0    0  ...      Government (Diplomatic)     Unknown    NaN
2  1970      1    0  ...          Journalists & Media     Unknown    NaN
3  1970      1    0  ...      Government (Diplomatic)  Explosives    NaN
4  1970      1    0  ...      Government (Diplomatic)  Incendiary    NaN

[5 rows x 16 columns]

In [39]:
# Checking Shape of Dataset
terror_df.shape

(181691, 16)

In [40]:
# Checking Dataset For Null Values
terror_df.isnull().sum()

year                0
month               0
day                 0
country             0
state             421
city              434
region              0
attack_type         0
target            636
killed          10313
wounded         16311
summary         66129
group               0
target_type         0
weapon_type         0
motive         131130
dtype: int64

In [41]:
terror_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year         181691 non-null  int64
 1   month        181691 non-null  int64
 2   day          181691 non-null  int64
 3   country      181691 non-null  object
 4   state        181270 non-null  object
 5   city         181257 non-null  object
 6   region       181691 non-null  object
 7   attack_type  181691 non-null  object
 8   target       181055 non-null  object
 9   killed       171378 non-null  float64
 10  wounded      165380 non-null  float64
 11  summary      115562 non-null  object
 12  group        181691 non-null  object
 13  target_type  181691 non-null  object
 14  weapon_type  181691 non-null  object
 15  motive       50561 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 22.2+ MB

###**That's Great, Our Finalized Dataset Contains No Null Values**

In [42]:
# Checking Some Important Descriptions of Data
terror_df.describe(include='all').T

              count  unique  ...   75%   max
year         181691     NaN  ...  2014  2017
month        181691     NaN  ...     9    12
day          181691     NaN  ...    23    31
country      181691     205  ...   NaN   NaN
state        181270    2855  ...   NaN   NaN
city         181257   36674  ...   NaN   NaN
region       181691      12  ...   NaN   NaN
attack_type  181691       9  ...   NaN   NaN
target       181055   86006  ...   NaN   NaN
killed       171378     NaN  ...     2  1570
wounded      165380     NaN  ...     2  8191
summary      115562  112492  ...   NaN   NaN
group        181691    3537  ...   NaN   NaN
target_type  181691      22  ...   NaN   NaN
weapon_type  181691      12  ...   NaN   NaN
motive        50561   14490  ...   NaN   NaN

[16 rows x 11 columns]

####**Actually, This Above Matrix Is The Whole Data Analysis As We Can See Hot Zone of Terrorism And Its Details.**

##**Exploratory Data Analysis**
Let's Check Which Country Faced Most Attacks And Try To Find Its Details.

In [44]:
print('Country Which Faced Most Attacks: ',terror_df['country'].value_counts().idxmax())
print('City Which Faced Most Attacks: ',terror_df['city'].value_counts().index[1])
print("Region Which Faced Most Attacks:",terror_df['region'].value_counts().idxmax())
print("Year In Which Most Attacks Occur:",terror_df['year'].value_counts().idxmax())
print("Month In Which Most Attacks Occur:",terror_df['month'].value_counts().idxmax())
print("Group Which Conducted Most Attacks:",terror_df['group'].value_counts().index[1])
print("Most Attack Types:",terror_df['attack_type'].value_counts().idxmax())

Country Which Faced Most Attacks:  Iraq
City Which Faced Most Attacks:  Baghdad
Region Which Faced Most Attacks: Middle East & North Africa
Year In Which Most Attacks Occur: 2014
Month In Which Most Attacks Occur: 5
Group Which Conducted Most Attacks: Taliban
Most Attack Types: Bombing/Explosion

In [46]:
terror_df['year'].value_counts(dropna=False).sort_index()

1970      651
1971      471
1972      568
1973      473
1974      581
1975      740
1976      923
1977     1319
1978     1526
1979     2662
1980     2662
1981     2586
1982     2544
1983     2870
1984     3495
1985     2915
1986     2860
1987     3183
1988     3721
1989     4324
1990     3887
1991     4683
1992     5071
1994     3456
1995     3081
1996     3058
1997     3197
1998      934
1999     1395
2000     1814
2001     1906
2002     1333
2003     1278
2004     1166
2005     2017
2006     2758
2007     3242
2008     4805
2009     4721
2010     4826
2011     5076
2012     8522
2013    12036
2014    16903
2015    14965
2016    13587
2017    10900
Name: year, dtype: int64